.check{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;  
}

.checkbox-wrapper{
    display: flex;
}

.check a{
    font-size: small;
    margin-left: 5px;
    color: var(--light-text-color);
}
.check label{
    font-size: large;
}